@font-face {
    font-family: 'pixelify_sans';
    src: url('PixelifySans-VariableFont_wght.ttf');
  }

body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100vh;
    font-family: 'pixelify_sans';
    background-color: #FCFAEE;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    opacity: 50%;
    cursor: pointer;
}

h1, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 27px;
}

/* header */

.header-container {
    background-color: #384B70;
    width: 100%;
    height: 60px;

    display: flex;
    flex-direction: row;

    align-items: center;
    
    color: white;
} 

.left-container {
    display: inline;
    width: 20%;
    padding-left: 20px;
}

.middle-container {
    width: 60%;
    gap: 10px;
    text-align: center; 
    line-height: 60px;
}

.right-container {
    display: inline-block;
    width: 20%;
    height: 60px;
    text-align: end;
    padding-right: 20px;
    text-align: center; 
    line-height: 60px;
}

#dil {
    padding-right: 10px;
}

.main-img {
    display: inline-block;
}

.main-title {
    display: inline;
}


/* header ends */



/* hero */
.hero-container {
    width: 100%;
    height: 450px;
    background-color: black;
    text-align: center;
    position: relative;
}

.hero-image {
    height: 406px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}

/* hero ends */


/* main */
.main-content {
    width: 100%;
    height: 280px;
    text-align: center;
}

.main-container {
    width: 70%;
    text-align: left;
    padding-left: 15%;
    
}

.content-header {
    padding-bottom: 10px;
}

.content-body {
    padding-bottom: 20px;
}

.content-body:last-child {
    padding-bottom: 0px;
}

/* main ends */

/* ----------------------page 1 ends------------------------ */

/* gallery */
span {
    color: #B8001F;
}

.gallery-container {
    width: 100%;
}

.gallery-title {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.gallery-main {
    width: 100%;
    display: table;
}

.pokemon-img,
.mario-img, 
.yoshi-img {
    width: 200px;
}

.image-div {
    height: 300px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/* gallery ends */

/* content */

.dil1-container {
    padding-top: 50px;
    width: 100%;
    padding-left: 5%;
}

#dil1-content {
    width: 90%;
}

#dil1-content:not(:last-child) {
    padding-bottom: 20px;
}

#exc {
    color: blue;
    text-decoration: underline;
}

/* content ends */

/* ----------------------page 2 ends------------------------ */


.dq-img { 
    width: 250px;
}

.sh2-img {
    height: 250px;
}

.gow-img {
    width: 350px;
}

#sp {
    font-weight: bolder;
}

#dil1-content {
    font-size: 18px;
}

#dil1-content:last-child {
    padding-bottom: 30px;
}
